<nav>
  <form action="/logout" method="post" onsubmit="handleSubmit('loading-logout', '.logoutButton')">
    <button type="submit" class="logoutButton">로그아웃</button>
  </form>
  <div id="loading-logout" class="loading">로그아웃 중 입니다. 잠시만 기다려 주세요.</div>
</nav>
